## SvenCo-op map - Reddeath

globalmodellist ../scmod/reddeath/reddeathmdls.txt
globalsoundlist ../scmod/reddeath/reddeathsnds.txt

item_longjump

startarmor 100

weapon_9mmar
weapon_shotgun
weapon_357
weapon_9mmhandgun
weapon_crowbar
weapon_pipewrench
weapon_saw
weapon_m16

ammo_9mmbox 2
ammo_buckshot 10
ammo_556 8
ammo_357 10
ammo_gaussclip 2
ammo_762 2
ammo_ARgrenades 1

skill 3
mp_multiplespawn 1
mp_monsterpoints 1
mp_timelimit 0
mp_fraglimit 0
mp_flashlight 0
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 1
mp_radiovoice 1
mp_allowgaussjump 0
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
mp_npckill 2

mp_survival_supported 0
mp_monsterinfo 0